body{
    background:black;
    color: blanchedalmond;
    font-family: helvetica;
    font-size:  16px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid whitesmoke;
    margin: auto;
}

#container h1{
    font-size: 20px;
    color: rgb(184, 184, 34);
}

#container p{
    text-align: left;
}

#footer_pag{
    text-align:right;
}
