body{
    background:black;
    color: blanchedalmond;
    font-family: helvetica;
    font-size:  16px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid gray;
    margin: auto;
}

#container h1{
    font-size: 20px;
    color: rgb(184, 184, 34);
}

#container p{
    text-align: left;
}

#footer_pag{
    background: gray;
    padding: .5em;
    text-align:right;
    box-shadow: 0px 0px 11px 0px #727985;
    color: black;
    font-weight: bold;
}

#ruta{
    font-size: 12px;
    color: rgb(66, 41, 18);
}